/********************************** TAG SELECTORS ***************************/

h1{
    margin: 0 ;
    padding-bottom: 0;
    font-family: 'Sacramento', sans-serif;
    font-size: 6rem;    
}

body{
    margin:0 ;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

h4{
    font-weight: bolder;
    font-size: larger;
}

a{
    color: inherit;
    text-decoration: none;
}

hr{

    border-style: dotted none none;
    height: 20px;
    width: 10%;
    border-color: grey;
    border-width: 5px;
}

/********************************** CLASS SELECTORS ***************************/

.nav-bar-container{

    background-color: #FFF6E0;
    height: 5.25rem;
    width: 100%;
    position: fixed;

}

.nav-bar-items{

    display: inline-block;
    margin: 2rem 2rem;
    color: #65451F;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

.nav-bar-items:hover{

    color: #DFA878;
}
.top-container{
    
    background-color: #EAC696;
    padding-top: 7.25rem; 
}

.pro{
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

.programmer{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: -1.25rem;
    
}

.hello-world-img1{

    height: 7.25rem;
    position: absolute;
    margin-left: 46.8rem;

}

.hello-world-img2{

    height: 7.25rem;
    position: absolute;
    margin-left: -21.8rem;
    
}

.middle-container{
    background-color: #FFF6E0;
    padding-top: 2.25rem;

    
}

.intro{
    padding-bottom: 2.2rem;
}

.skills{

    width: 50%;
    margin: 0 auto;
    line-height: 2;
}

.img-web{

    width: 25%;
    float: left;
    margin-right: 1.5rem;
}

.img-devOps{

    width: 25%;
    float: right;
    margin-left: 1.5rem;
}

.img-ai{

    width: 25%;
    float: left;
    margin-right: 1.5rem;
}

.skill-web{

    margin: 3.2rem auto;
    text-align: left;
}

.skill-devOps{

    margin: 3.2rem auto;
    text-align: left;
}

.skill-ai{

    margin: 3.2rem auto;
    text-align: left;
}

.btn {
    background: #C38154;
    background-image: -webkit-linear-gradient(top, #C38154, #C38154);
    background-image: -moz-linear-gradient(top, #C38154, #C38154);
    background-image: -ms-linear-gradient(top, #C38154, #C38154);
    background-image: -o-linear-gradient(top, #C38154, #C38154);
    background-image: linear-gradient(to bottom, #C38154, #C38154);
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    font-family: Arial;
    color: #ffffff;
    font-size: 23px;
    padding: 8px 17px 10px 20px;
    text-decoration: none;
    margin-bottom: 3.25rem;
  }
  
  .btn:hover {
    background: #FFE7A0;
    background-image: -webkit-linear-gradient(top, #FFE7A0, #FFE7A0);
    background-image: -moz-linear-gradient(top, #FFE7A0, #FFE7A0);
    background-image: -ms-linear-gradient(top, #FFE7A0, #FFE7A0);
    background-image: -o-linear-gradient(top, #FFE7A0, #FFE7A0);
    background-image: linear-gradient(to bottom, #FFE7A0, #FFE7A0);
    text-decoration: none;
    color: #65451F;
  }

  .bottom-container{
    
    background-color: #EAC696;
    padding-bottom: .25rem; 
}

.links{
    padding-bottom: 0;
    display: inline-block;
    margin: .5rem 1.25rem;
}

.links:hover{
    color: #fcfcfc ;
}

.copyright{
    font-size: small;
    padding-top: 2rem;
    padding-bottom: 0;
}














/********************************** ID SELECTORS ***************************/